@page
@model Group17_ProjectAssignment.Pages.Main_Pages.Admin_Pages.ImageUploadModel
@{
}
<h1>Upload Files Page</h1>
<br />

<div>
    <form method="post" enctype="multipart/form-data">

        <div>
            <label>Select an image file to upload</label>
            <input type="file" asp-for="imgUpload" onchange="readURL(this)" accept="image/*" />
        </div>
        <br />
        <div>
            <input type="submit" value="Upload" class="btn btn-primary" />
        </div>
    </form>
</div>

<br />
<div>
    <img id="Img" src="" alt="User Picture" style="width: 200px;" />
</div>

