@page
@model Group17_ProjectAssignment.Pages.WelcomeAdminModel
@{
}

<h1>:: Admin Main Page ::</h1>
<br />
<h2> Welcome @Model.FirstName</h2>

<p><a asp-page="/Main_Pages/Admin Pages/Product_Registration">Register Product</a></p>
<p><a asp-page="/Main_Pages/User Pages/ViewPage">View Products</a></p>
<p><a asp-page="/Main_Pages/User Pages/Logout">Logout</a></p>
