@page
@model Group17_ProjectAssignment.Pages.Main_Pages.CreateAccountModel
@{
}




<h1 class="text-center">Account Registration</h1>
<div>
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" asp-for="Users.FirstName" class="form-control" />
                <span asp-validation-for="Users.FirstName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Second Name</label>
                <input type="text" asp-for="Users.SecondName" class="form-control" />
                <span asp-validation-for="Users.SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input type="text" asp-for="Users.Password" class="form-control" />
                <span asp-validation-for="Users.Password" class="text-danger"></span>
            </div>         
            <div class="form-inline">
                <label class="control-label" for="Admin">Admin</label>
                <input type="radio" id="Admin" value="Admin" asp-for="Users.Role" class="form-control" />
                <label class="control-label" for="Employee">Employee</label>
                <input type="radio" id="Employee" value="Employee" asp-for="Users.Role" class="form-control" />
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-secondary" />
                <span asp-validation-for="Users.Role" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
