@page
@model Group17_ProjectAssignment.Pages.Main_Pages.WelcomeUserModel
@{
}


<h1>:: User Main Page ::</h1>
<br />
<h2> Welcome @Model.FirstName</h2>
<style>
    body {
        background-color: #b2b2b2;
        font-family: Arial, Helvetica, sans-serif;
    }

    .footer {
        background-color: #b2b2b2;
    }

    a {
        background-color: #ffffff;
    }
</style>

<p><a asp-page="/Main_Pages/Logout">Logout</a></p>
